p {
	color: #0000FF;

	font-size: 14px;
     text-decoration: line-through;
}


h1 {
	color: #008000;
	background-color: #888888;
	text-transform: uppercase;
}
h2{
	background-color: #888888;
	text-decoration: underline;
}
li {
	color: #FF3400;
}
font-family: 
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}
img {
	direction:rtl;
}
td{
	border: 1px solid #777;
	padding: 0.1em 1em;
}